body{
font-family: Arial, sans-serif;
background: linear-gradient(135deg,#4facfe,#00f2fe);
height:100vh;
display:flex;
justify-content:center;
align-items:center;
margin:0;
}

.container{
background:white;
padding:40px;
border-radius:10px;
box-shadow:0 8px 25px rgba(0,0,0,0.2);
text-align:center;
width:400px;
}

h1{
margin-bottom:25px;
color:#333;
}

/* Custom File Upload */

.file-upload{

position:relative;
display:inline-block;
cursor:pointer;
background:#007bff;
color:white;
padding:12px 20px;
border-radius:6px;
font-size:16px;
transition:0.3s;
}

.file-upload:hover{
background:#0056b3;
}

.file-upload input{
position:absolute;
opacity:0;
cursor:pointer;
height:100%;
width:100%;
left:0;
top:0;
}

/* Analyze Button */

button{
background:#28a745;
border:none;
color:white;
padding:12px 20px;
font-size:16px;
border-radius:6px;
cursor:pointer;
transition:0.3s;
}

button:hover{
background:#218838;
}

.file-name{
margin-top:10px;
color:#333;
font-weight:bold;
font-size:14px;
}