<!DOCTYPE html>
<html>

<head>

<title>AI Resume Screener</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="container">

<h1>AI Resume Screening System</h1>

<form action="/analyze" method="post" enctype="multipart/form-data">

<label class="file-upload">

<input type="file" name="resume" id="resumeInput" required onchange="showFileName()">

<span id="fileLabel">📄 Choose Resume</span>

</label>

<br><br>

<p id="fileName" class="file-name"></p>

<button type="submit">Analyze Resume</button>

</form>

</div>

<script>

function showFileName(){

var input = document.getElementById("resumeInput");

var fileName = input.files[0].name;

document.getElementById("fileName").innerText = "Selected File: " + fileName;

}

</script>

</body>

</html>